__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

gen_*/
runs/
runs_*/
logs/
analysis_*/
*.log
*.rar
*.zip

*.npy
*.npz
*.xlsx
*.csv

!.gitignore
!init_h500/**
!models/**
!analysis_logic1_qt_avl_recheck_branch_compare/
!analysis_logic1_qt_avl_recheck_branch_compare/**
